$white: #FFFFFF;
$grey: #404040;
$pastel_red: #ED685E;
$bright_red: #E94F37;
$ice_blue: #E8FFF5;
$light_azure: #DAF4F0;
$dark_azure: #3D6366;

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
}

nav ul li {
  display: inline-block;
  float: right;
  padding: 15px;
  color: $dark_azure;
  background-color: $ice_blue;
  &:hover {
    color: $pastel_red;
  }
}

.active {
  background-color: $pastel_red;
}
