$white: #FFFFFF;
$grey: #404040;
$pastel_red: #ED685E;
$bright_red: #E94F37;
$ice_blue: #E8FFF5;
$light_azure: #DAF4F0;
$dark_azure: #3D6366;

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
}
h3 {
  text-align: center;
  clear: both;
}
.nav-left {
  display: inline-block;
  float: left;
  ul li {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
  }
}
.nav-right {
  display: inline-block;
  float: right;
  ul li {
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    a {
      text-decoration: none;
      color: $grey;
      &:hover {
        color: $pastel_red;
      }
    }
  }
}
header {
  background-color: rbga(255, 255, 255, 0.5);
  width: 100%;
  z-index: 999;
}
#landing {
  background-image: url(/images/asparagus.jpg);
  background-size: 100%;
}
#welcome {
  width: 50%;
  min-height: 800px;
  background-color: $white;
  opacity: 0.65;
  margin-left: 5%;
  padding: 5%;
  text-align: center;
}
button {
  &:hover {
    color: $pastel_red;
    background-color: $grey;
  }
}
#userhome {
  text-align: center;
}
.tempDiv {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  max-width: 350px;
  height: 350px;
  margin: 1%;
  padding: 1%;
  background-color: $ice_blue;
  border: 2px solid $grey;
  h4 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}
.cookbook {
  text-align: center;
}
recipe-card {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 20%;
  max-width: 250px;
  height: 250px;
  margin: 2%;
  padding: 2%;
  background-color: $pastel_red;
  border: 2px solid $grey;
}
input {
  display: block;
  width: 350px;
}

#signup {
  display: none;
}

#signup input {
  margin: 1em auto;
}

textarea {
    height: auto;
}
