* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #404040; }

nav ul li {
  display: inline-block;
  float: right;
  padding: 15px;
  color: #3D6366;
  background-color: #E8FFF5; }
  nav ul li:hover {
    color: #ED685E; }

.active {
  background-color: #ED685E; }
