<div id="bgUserHome">
	<header ng-include="'partials/header_main.html'"></header>
	<div class="cookbook">
	<!-- eventually, swap this title directive with something personal to the user -->
	<h3 style="color:white;">{{title}}</h3>
	<input type="text" ng-model="recipeSearch" placeholder="recipe search">

	<!-- SAVE THIS COMMENTED CODE! We will use it on the full recipe view -->
	<!-- we will link the entire div to whisk us off to the recipe view -->
	<div class="recipeCard" ng-repeat="recipe in recipes.recipes">

				<p>{{recipe.name}}</p>
				<img ng-src="{{recipe.image}}" alt="" />
	      <p>{{recipe.tags}}</p>
				<div class="recipeDetails">
					<p>ORIGIN STORY: {{recipe.originStory}}</p>
					<p>AUTHOR: {{recipe.author}}</p>
					<p>INGREDIENTS</p>
					<ul>
		        <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
		      </ul>
					<p>STEPS</p>
		      <ol>
		        <li ng-repeat="step in recipe.steps">{{step}}</li>
		      </ol>
				</div>
	</div>
</div>
