<div id="bgUserHome">
	<header ng-include="'partials/header.html'"></header>
	<div class="cookbook">
	<!-- eventually, swap this title directive with something personal to the user -->
	<h3>{{title}}</h3>
	<input type="text" ng-model="recipeSearch" ng-change="" placeholder="recipe search">
	<!-- next step, use $scope.data to ng-repeat -->
	<!-- <h3 ng-repeat="cookbook in data.cookbooks">{{cookbook.cookbookName}}</h3> -->
	<!-- SAVE THIS COMMENTED CODE! We will use it on the full recipe view -->
	<!-- we will link the entire div to whisk us off to the recipe view -->

	<div class="recipeCard" ng-repeat="recipe in recipes.recipes | toArray | filter : recipeSearch" ng-click="showDetails = ! showDetails">
		<!-- | filter : recipeSearch -->
				<p>{{recipe.name}}</p>
				<img ng-src="{{recipe.image}}" alt="" />
	      <p>{{recipe.tags}}</p>
				<!-- maybe use css to display this recipeDetails div in a special way? -->
						<div class="recipeDetails"  ng-show="showDetails">
							<h1>{{recipe.name}}</h1>
							<img ng-src="{{recipe.image}}" alt="">
							<p>{{recipe.tags}}</p>
							<p><strong>Origin Story</strong></p>
							<p>{{recipe.originStory}}</p>
							<p>Submitted by: {{recipe.author}}</p>
							<p>INGREDIENTS</p>
							<ul>
				        <li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
				      </ul>
							<p>STEPS</p>
				      <ol>
				        <li ng-repeat="instructions in recipe.instructions">{{instructions}}</li>
				      </ol>
						</div>
	</div>
<!--  Aug 14 / with database working, we will not need this use this functionality  -->
	<!-- eventually, would like to auto show/hide depending if user has added recipe -->
	<!-- <div id="newRecipe" ng-repeat="recipe in storedRecipes"> -->
		 <!-- | filter : recipeSearch -->
		<!-- <h2>{{recipe.name}}</h2>
		<p><img ng-src="{{recipe.image}}"></p>
		<p><strong>Submitted by</strong>: {{recipe.author}}</p>
		<p><strong>Tags</strong>: {{recipe.tags}}</p>
		<p><strong>Origin Story</strong>: {{recipe.originStory}}</p> -->
		<!-- <p>{{recipe.ingredients}}</p> -->
		<!-- <ul class="prettyList"><strong>Ingredients</strong>:
			<li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
		</ul>
		<ol><strong>Directions</strong>:
			<li ng-repeat="step in recipe.instructions">{{step}}</li>
		</ol> -->
		<!-- <p>{{recipe.instructions}}</p> -->
	<!-- </div> -->
	<!-- TESTING NG REPEAT FOR NEW FORM SUBMMISSION-->
	<!-- <div ng-repeat="store in storeRecipeObjects track by $index"></div> -->
</div>
