<footer>
  <div class="fuild-container">
  	<div class="row">
  		<div class="col-md-3">
  			Amanda
  			<a href="https://www.linkedin.com/in/amanda-olczak"><img src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" class="footerMedia"></a>
  		</div>
  		<div class="col-md-3">
  			Erika
  			<a href="https://www.linkedin.com/in/erika-bergman"><img src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" class="footerMedia"></a>
  		</div>
  		<div class="col-md-3">
  			Benson
  			<a href="https://www.linkedin.com/in/john-bensonk"><img src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" class="footerMedia"></a>
  			<a href="http://benson.is/"><img src="http://image.flaticon.com/icons/png/128/12/12195.png" class="footerMedia"></a>
  		</div>
  		<div class="col-md-3">
  			Josh
  			<a href="https://www.linkedin.com/in/joshuateolk"><img src="https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico" class="footerMedia"></a>
  		</div>

  	</div>
  </div>
</footer>
