<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left logo special2"><span class="special3">&nbsp;C</span>ook<span class="special3">L</span>ove<span class="special3">C</span>onnect</a>

      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li><a ui-sref="newForm" class="btn waves-effect waves-red">Add Another Recipe!</a></li>
        <li><a ng-click="logOut()" class="btn waves-effect waves-red">Log Out</a></li>
      </ul>
    </div>



<!-- <nav class="nav-left">
    <ul>
      <li><a ui-sref="newForm">Add a New Recipe!</a></li>
      <li class="logo">Cook Love Connect</li>
      <li><a ui-sref="cookbook">My Cookbook</a></li>
      <li><a ui-sref="newUserProfileForm">Profile</a></li>
      <li><a ng-click="logOut()">Log Out</a></li>
    </ul>
</nav> -->
