<script>$(".button-collapse").sideNav();</script>


<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><span class="special3">&nbsp;C</span>ook<span class="special3">L</span>ove<span class="special3">C</span>onnect</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="newForm" class="btn waves-effect waves-red">Add Another Recipe!</a></li>
        <li><a ng-click="logOut()" class="btn waves-effect waves-red">Log Out</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="newForm">Add Another Recipe!</a></li>
        <li><a ng-click="logOut()">Log Out</a></li>
      </ul>
    </div>
</nav>


  <!-- <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav> -->



<!-- <nav class="nav-left">
    <ul>
      <li><a ui-sref="newForm">Add a New Recipe!</a></li>
      <li class="logo">Cook Love Connect</li>
      <li><a ui-sref="cookbook">My Cookbook</a></li>
      <li><a ui-sref="newUserProfileForm">Profile</a></li>
      <li><a ng-click="logOut()">Log Out</a></li>
    </ul>
</nav> -->
