<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Expand Info</button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2>Some Recipe 1</h2>
        </div>
        <div class="modal-body">
          	
			<img src="http://www.smithfieldfoods.com/images/home/packaged-brands/gwaltney-food.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus soluta libero voluptatum aliquid omnis dolorem officiis magnam facere aperiam laboriosam vitae, qui nostrum sunt, corporis eum praesentium totam iste placeat!</p>
        </div>
        <div class="modal-footer">
          <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25492755'></div>
           <button class="btn btn-warning" type="button" ng-click="" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
      
    </div>
  </div> <!--end of modal-->