<div id="tempRecFormBack">
	<header ng-include="'partials/header_main.html'"></header>
<h3>{{title}}</h3>

<!-- <form method="POST" action="/recipes"> -->
<form id="newForm" name="form" ng-submit="redirectHome(recipe)">

	<label>Recipe Name</label>
			<input
				class="myModal"
				type="text"
				name="recTitle"
				placeholder="Name of recipe"
				ng-model="recipe.recTitle"
				ng-minlength=3
				ng maxlength=20
				required/>

	<label name="author">Author</label>
			<input
				class="myModal"
				type= "text"
				name="recAuthor"
				ng-model="recipe.recAuthor"
				placeholder="Author"/>

	<label name="cookbook">Cookbook</label>
			<input
				class="myModal"
				type= "text"
				name="recCookbook"
				value="My Cookbook"
				ng-model="recipe.recCookbook"
				placeholder="Cookbook"
				required/>

	<label>Tags</label>
			<input
				class="myModal"
				type="text"
				name="recTags"
				ng-model="recipe.recTags"
				placeholder="tags"/>

	<label>Image</label>
			<input
				class="myModal"
				type="file"
				name="recImage"
				onchange="previewFile(this)"
				ng-model="recipe.recImage"/>

  <img id="blah" src="" alt="your image" />
	<br>

  <label>Recipe Origin:</label>
			<textarea
				class="myModal"
				rows="3"
				cols="40"
				name="recOriginStory"
				ng-model="recipe.recOriginStory"
				placeholder="What's the story of this recipe..."
				id="history of recipe">
			</textarea>
      		<br>


	<!-- INGREDIENT FORM -->
	<label>Ingredients</label>
      	<input
					class="myModal"
					type="text"
					ng-model="recipe.recIngredients"
					name="recIngredients"
					value=""
					placeholder="add ingredient"/>
        <button
					class="myModal"
					ng-click="addIngredient()"
					name="button">
					Add to List
				</button>

        	<ul id="new-recipe-ingredients">
            <li ng-repeat="ingredient in recipes.ingredients| filter:filterList">{{ingredient | lowercase}}
              <div>
                <a href="" class="edit" ng-show="!showEditBar" ng-click="showEditBar = !showEditBar">edit</a>
                <a href="" class="save" ng-show="showEditBar" ng-click="showEditBar = !showEditBar">save</a>
                <a href="" class="delete" ng-click="removeIngredient($index)">delete</a>
                <input type="text" ng-model="ingredient" ng-show="showEditBar" class="myModal" />
              </div>
            </li>
        	</ul>
        	<!-- END OF INGREDIENTS -->


        	<!-- START OF INSTRUCTIONS/STEPS -->
			<label>Instructions</label>
          <input
						class="myModal"
						type="text"
						ng-model="recipe.recInstructions"
						name="recInstructions"
						placeholder="add instruction"/>
        	<button
						class="myModal"
						ng-click="addInstruction()"
						name="button">
						Add instructions
					</button>

        	<ol>
            <li
							ng-repeat="instruction in recipes.instructions| filter:filterList">{{instruction | lowercase}}
              <div>
                <a href="" class="edit" ng-show="!showEditBar" ng-click="showEditBar = !showEditBar">edit</a>
                <a href="" class="save" ng-show="showEditBar" ng-click="showEditBar = !showEditBar">save</a>
                <a href="" class="delete" ng-click="removeInstruction($index)">delete</a>
                <input
									type="text"
									ng-model="intruction"
									ng-show="showEditBar"
									class="myModal"/>
              </div>
            </li>
        	</ol>



			<!-- link ng-click to a submit function -->
			<button class="btn btn-primary" type="button">Save Recipe</button>
      <button class="btn btn-warning" type="button" ng-click="cancelRecipe()">Cancel</button>

</form>














</div>
