<div id="tempRecFormBack">
	<header ng-include="'partials/header.html'"></header>
<h3 style="color:white;">{{title}}</h3>

<form id="newForm">
	<label> Recipe Name</label>
			<br>
			<input class="myModal" type="text" name="name" placeholder="Mom's lasagna" ng-model="recipes.name" required/>
			<br>
			<label name="author">Author</label>
			<br>
			<input class="myModal" type= "text" name="author" ng-model="recipes.author" placeholder="Josh Teo" required="Author" />
			<br>
			<input
				class="myModal"
				type="text"
				required
				ng-model="recipes.cookbook"
				placeholder="Cookbook (default 'My Cookbook')">
			<label>Tags</label>
			<br>
			<input class="myModal" type="text" name="Entree" ng-model="recipes.tags" placeholder="tags" required="tags"/>
			<br>
			<label>Image</label>
			<br>
      <input class="myModal" type="text" name="image" ng-model="recipes.image" placeholder="http://www.flickr.com/myImage.jpg">
			<!-- <input class="myModal" type="file" onchange="previewFile(this)" name="user-photo" ng-model="recipes.image" required="image" style="color:white;"/>

       <img id="blah" src="" alt="your image" /> -->

      		<label>Recipe Orgin:</label>

      		<br>
      		<textarea class="myModal" rows="4" cols="40" id="history of recipe" placeholder="What's the story of this recipe..." ng-model="recipes.originStory"></textarea>
      		<br>


			<!-- INGREDIENT FORM -->

			<label>Ingredients</label>
           	<input class="myModal" type="text" ng-model="ingredient" name="name" value="" placeholder="add ingredient" />
        	<button class="myModal" ng-click="addIngredient()" name="button" style="color:white;">Add to List</button>

        	<ul>
            <li style="color:white;" ng-repeat="ingredient in recipes.ingredients| filter:filterList">{{ingredient | lowercase}}
                <div>
                    <a href="" class="edit" ng-show="!showEditBar" ng-click="showEditBar = !showEditBar">edit</a>
                    <a href="" class="save" ng-show="showEditBar" ng-click="showEditBar = !showEditBar">save</a>
                    <a href="" class="delete" ng-click="removeIngredient($index)">delete</a>
                    <input type="text" ng-model="ingredient" ng-show="showEditBar" class="myModal" />
                </div>
            </li>
        	</ul>

        	<!-- END OF INGREDIENTS -->

        	<!-- START OF INSTRUCTIONS/STEPS -->
			<label>Instructions in Steps</label>
           	<input class="myModal" type="text" ng-model="instruction" name="name" value="" placeholder="add instruction" />
        	<button class="myModal" ng-click="addInstruction()" name="button" style="color:white;">Add instructions</button>

        	<ol>
            <li style="color:white;" ng-repeat="instruction in recipes.instructions| filter:filterList">{{instruction | lowercase}}
                <div>
									<a href="" class="edit" ng-show="!showEditBar" ng-click="showEditBar = !showEditBar">edit</a>
									<a href="" class="save" ng-show="showEditBar" ng-click="showEditBar = !showEditBar">save</a>
                    <a href="" class="delete" ng-click="removeInstruction($index)">delete</a>
                    <input type="text" ng-model="instruction" ng-show="showEditBar" class="myModal" />
                </div>
            </li>
        	</ol>




			<br>
			<!-- link ng-click to a submit function -->
			<button class="btn btn-primary" type="button" ng-click="submitRecipe(recipes)">OK</button>
           	<button class="btn btn-warning" type="button" ng-click="" ui-sref="userhome">Cancel</button>

</form>

</div>
