	<!-- START OF MODAL -->
  <h4>New Recipe Form</h4>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary btn-lg raised" data-toggle="modal" data-target="#myModal">Watcha' cooking?</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2>Create New Recipe</h2>
        </div>
        <div class="modal-body">
      <label> Recipe Name</label>
			<br>
			<input class="myModal" type="text" name="name" placeholder="Name of recipe" ng-model="recipe.name" ng-minlength=3 ng maxlength=20 required/> 
			<br>
			<label name="author">Author</label>
			<br>
			<input class="myModal" type= "text" name="author" ng-model="author" placeholder="Author" required="Author" />
			<br>
			<label>Tags</label>	
			<br>
			<input class="myModal" type="text" name="tags" ng-model="tags" placeholder="tags" required="tags"/>
			<br>
			<label>Image</label>
			<br>
			<input class="myModal" type="file" onchange="previewFile(this)" name="user-photo" ng-model="image" required="image"/>
       <img id="blah" src="#" alt="your image" />
      <!-- <img src="http://eat24hours.com/files/cuisines/v4/thai.jpg?e24v=103?e24v=178?e24v=178" height="200" alt="Image preview..."/> -->
   <!--    <br>
      <input type="submit" value="upload"/>  -->
      <br>
      <label>Recipe Orgin:</label>
      <br>
      <textarea class="myModal" rows="4" cols="40" id="history of recipe"></textarea>
      <br>
        </div>
        <div class="modal-footer">
           <button class="btn btn-primary" type="button" ng-click="">OK</button>
           <button class="btn btn-warning" type="button" ng-click="" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div> <!--end of modal-->