<h1>{{title}}</h1>
<h3>{{message}}</h3>
<!-- <form method="POST" action="/users"> -->

<form name="form" novalidate ng-submit="redirectHome(user)">
    <input
      type="text"
      required
      name="firstName"
      ng-model="user.firstName"
      placeholder="first name">
    <input
      type="text"
      required
      name="lastName"
      ng-model="user.lastName"
      placeholder="last name">
    <input
      type="email"
      required
      name="email"
      ng-model="user.email"
      placeholder="email address">
    <input
      type="password"
      required
      name="password"
      ng-model="user.password"
      placeholder="password"
      ng-minlength=4>
    <input
      type="password"
      required
      name="confirmPassword"
      ng-model="user.confirmPassword"
      placeholder="confirm password">
    <button
      type="submit"
      ng-disabled="form.$invalid">
      Register
    </button>
</form>
<!--
ng-click="goToHomeKitchen()" -->
